body {
  background-color: aqua;
  text-align: center;
  font-size: 20px;
}

.active {
  color: black;
  margin: 0 auto;
  padding: 10px;
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

img { 
  padding: 10px;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.home_p {
  font-size: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

li {
  float: left;
  border-right: 2px solid gray; /*different color? better class names?*/
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover:not(.active) {
  background-color: #111;
}
.active2 {
  background-color: #4CAF50;
}