@-ms-viewport{
  width: device-width;
}

* {
  box-sizing: border-box;
}
body {
  /* background-image: url('https://www.awakenthegreatnesswithin.com/wp-content/uploads/2018/05/Family-Quotes-1.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f1f1f1;
  text-align: center;
  font-size: 20px;
}
a {
  color: white;
}
a:hover {
  color: white;
}

img {
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.log {
  background-color: aqua;
  background-size: cover;
  text-align: center;
  font-size: 20px;
}

.title, .home_title {
  padding-right: 20%;
  font-size: 50px;
  text-align: center;
  font-family: Snell Roundhand, cursive;
  font-weight: 900;
  color: orange;
  margin: 0;
  
}

.home_title {
  padding-left: 20%;
  padding-bottom: 5%;
  font-size: 100px;
}

.active {
  color: black;
  margin: 0 auto;
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.home_p {
  font-size: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

li {
  float: left;
  cursor: pointer;
  position: relative;
  border: none;
  /* border-radius: 50px; */
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

li a {
  display: block;
  color: orange;
  text-align: center;
  padding: 30px 40px;
  text-decoration: none;
}

li a:hover:not(.active) {
  /* background-color: orange; */
  color:orange;

}

li :after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

li :active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

li:last-child {
  border-right: none;
}

.active2 {
  /* background-color: orange; */
  /* color: white; */
  text-decoration: underline;
  text-decoration-color: orange;
}

.inputDiv {
  margin-left: auto;
  margin-right: auto;
  margin-top: 11%;
  border-radius: 20px;
  background-color: white;
  padding: 80px;
  width: 50%;
  border-style: dotted;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.inputDiv_title {
  font-size: 40px;
  margin-top: -40px;
}


.chat {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 80px;
  width: 50%;
}

.chat_ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: white;
  width: 100%;
}

input[type=text] {
  width: 78%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.cstm_input, .cstm_inputS {
  width: 30% !important;
  /* margin-top: 11%; */
}
.cstm_inputS {
  margin-top: 11%;
}


.homeBtn, .cstm_Btn, .cstm_BtnS  {
  width: 20%;
  background-color: orange;
  color: white;
  padding: 9px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right:5px;
  position: relative;
  border: none;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

.cstm_Btn, .cstm_BtnS {
  width: 10%
}

/* .homeBtn:hover, .cstm_Btn:hover, .cstm_BtnS:hover {
  background-color: #45a049;
} */

/* .homeBtn:after, .cstm_Btn:after, .cstm_BtnS:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
} */

/* .homeBtn:active:after, .cstm_Btn:active:after, .cstm_BtnS:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
} */

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}