
<div class="nav">

    <ul>
      <!-- <a href="/user">Join/Create Family</a> -->
      <li><a href="/user"><i class="material-icons">people</i></a></li>
      <li><a href="/#!/chat"><i class="material-icons">chat</i></a></li>
      <li><a href="/#!/photos"><i class="material-icons">photo_library</i></a></li>
      <li><a class="active2" href="/#!/activities"><i class="material-icons">local_activity</i></a></li>
      <li><a href="/#!/events"><i class="material-icons">event</i></a></li>
      <li><a href="/#!/sharecode"><i class="material-icons">share</i></a></li>
      <li style="float:right"><a href="/" ng-click="$ctrl.reload()"><i class="material-icons">exit_to_app</i></a></li>
          <p class="title">Family Activities</p>
    </ul>
  
  
  </div>

  <div>
    <!-- adds container for activities to unify styling-->
      <div class="activities"> 
        <ul class="activities-list" ng-Repeat="obj in $ctrl.activities"> 
          <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col">
            <div class="activities-entry media">
              <div class="media-left">
                <img class="media-object" ng-src="{{obj.image_url}}" 
                style="width:120px; height:90px" />
              </div>
              <div>
                <div class="activities-entry-name" style="color: black;font-weight:bold">
                    <a ng-href="{{obj.url}}" style="color: black">{{obj.name}}</a>
                </div>
                <div class="activities-entry-rating">
                    Rating: {{obj.rating}} </br>
                    Location: {{obj.location.display_address[0]}}
                </div>
              </div>
            </div>
            </div>
            <!-- Creates Button for adding events to the database -->
              <div class="col">
                <button class="img_btn" ng-click="$ctrl.addEvents()">Add Event</button>
              </div>
          </div>
        </ul>

    </div>
    </div>
  
  <p>Search for things to do in your families area!</p>
  <input class="cstm_inputS" type="text" placeholder="Ex: 'New Orleans, 70119, France'" ng-model="location">
  <button class="cstm_BtnS" ng-click="$ctrl.searchActivities(location)">Search <i class="material-icons">search</i></button>
  
  