
<div class="nav">
  <ul>
    <li><a href="/user"><i class="material-icons">people_outline</i></a></li>
    <li><a class="active2" href="/#!/chat"><i class="material-icons">chat</i></a></li>
    <li><a href="/#!/photos"><i class="material-icons">photo_library</i></a></li>
    <li><a href="/#!/sharecode"><i class="material-icons">share</i></a></li>
    <li style="float:right"><a href="/" ng-click="$ctrl.reload()"><i class="material-icons">exit_to_app</i></a></li> 
    <p class="title">{{$ctrl.famName}}'s Chat</p>

  </ul>
</div>

<div class="chat" style="width: 600px; height: 500px; overflow:scroll;">
  <div ng-Repeat="obj in $ctrl.messages" >
    <div> 
      <ul class="chat_ul"> 
        <li>{{obj.name}} : {{obj.text}}</li>
      </ul>
    </div>
  </div>
</div>
<input class="cstm_input" type="text" placeholder="Send Message.." ng-model="value"> 
<button class="cstm_Btn" ng-click="$ctrl.handleSendClick(value)">Send  <i class="material-icons">send</i></button>
