
<div class="nav">
  <ul>
    <li><a href="/user"><i class="material-icons">people</i></a></li>
    <li><a class="active2" href="/#!/chat"><i class="material-icons">chat</i></a></li>
    <li><a href="/#!/photos"><i class="material-icons">photo_library</i></a></li>
    <li><a href="/#!/activities"><i class="material-icons">local_activity</i></a></li>
    <li><a href="/#!/events"><i class="material-icons">event</i></a></li>
    <li><a href="/#!/sharecode"><i class="material-icons">share</i></a></li>
    <li style="float:right"><a href="/" ng-click="$ctrl.reload()"><i class="material-icons">exit_to_app</i></a></li> 
    <p class="title">{{$ctrl.famName}}'s Chat</p>

  </ul>
</div>
<table>
  <tbody>
    <tr>
      <td>
        <div class="chat" style="width: 600px; height: 500px; overflow:scroll;">
          <h4>Chatroom</h4>
          <div ng-Repeat="obj in $ctrl.messages" >
            <div> 
              <ul class="chat_ul" ng-click="$ctrl.handleThreadClick($event)"> 
                <li>{{obj.name}} : {{obj.text}}<img ng-if="obj.imageUrl && obj.imageUrl !== 'undefined'" ng-src={{obj.imageUrl}} ng-click="$ctrl.handleSendClick()" style="width:400px; height:300px"></li>
              </ul>
            </div>
          </div>
        </div>
        <div>
        <input class="cstm_input" type="text" placeholder="Send Message.." ng-model="value"> 
        <button class="cstm_Btn" ng-click="$ctrl.handleSendClick(value)">Send  <i class="material-icons">send</i></button>
        </div>
        
        <form method="post" enctype="multipart/form-data" action="/chatphotos">
          <input class="img_btn" type="file" name="file" style="width:400px">
        <input class="img_btn" type="submit" value="Add Picture">
        </form>
      </td>
      <td>
        <div ng-if="$ctrl.showThread" class="chat" style="width: 600px; height: 455px; overflow:scroll;">
          <h4>Send a reply</h4>
          <div ng-Repeat="obj in $ctrl.threadMessages" >
            <div> 
              <ul class="thread_ul" > 
                <li>{{obj.name}} : {{obj.text}} <img ng-if="obj.imageUrl" ng-src={{obj.imageUrl}} style="width:400px; height:300px"></li>
              </ul>
            </div>
          </div>
        </div>
        <div ng-if="$ctrl.showThread" class="thread_inputs">
          <input  class="cstm_input" type="text" placeholder="Send Message.." ng-model="string"> 
          <button class="cstm_Btn" ng-click="$ctrl.handleThreadSendClick(string)">Send  <i class="material-icons">send</i></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>



