<div class="nav">

    <ul>
      <!-- <a href="/user">Join/Create Family</a> -->
      <li><a class="select" href="/user"><i class="material-icons">people</i></a></li>
      <li><a class="select" href="/#!/chat"><i class="material-icons">chat</i></a></li>
      <li><a class="select" href="/#!/photos"><i class="material-icons">photo_library</i></a></li>
      <li><a class="select" href="/#!/activities"><i class="material-icons">local_activity</i></a></li>
      <li><a class="active2 select" href="/#!/events"><i class="material-icons">event</i></a></li>
      <li><a class="select" href="/#!/sharecode"><i class="material-icons">share</i></a></li>
      <li style="float:right"><a href="/" ng-click="$ctrl.reload()"><i class="material-icons">exit_to_app</i></a></li>
          <p class="title">Family Events</p>
    </ul>
  
  
  </div>

  
  <!-- <div>Search for things to do in your families area!</div>
  <input class="cstm_inputS" type="text" placeholder="Ex: 'New Orleans, 70119, France'" ng-model="location">
  <button class="cstm_BtnS" ng-click="$ctrl.searchActivities(location)">Search <i class="material-icons">search</i></button> -->
  <div class="calendar">
  <div dhx-scheduler data="events" style="height:400px">
      <div class="dhx_cal_prev_button">&nbsp;</div>
      <div class="dhx_cal_next_button">&nbsp;</div>
      <div class="dhx_cal_today_button"></div>
      <div class="dhx_cal_date"></div>
      <div class="dhx_cal_tab" style ="padding: 0px" name="day_tab"></div>
      <div class="dhx_cal_tab" style ="padding: 0px" name="week_tab"></div>
      <div class="dhx_cal_tab" style ="padding: 0px" name="month_tab"></div>
      <button ng-click="scheduler.setCurrentView(null, 'week')">Week</button>
      <button ng-click="scheduler.setCurrentView(new Date())">Week</button>
  <div>
    </div>