  <div class="nav">
    <ul>
      <li><a class="active2"href="/user"><i class="material-icons">people</i></a></li>
      <li><a href="/#!/photos"><i class="material-icons">photo_library</i></a></li>
      <!-- <li><a href="/#!/activities">Activities</a></li> -->
      <!-- *************REMINDER TO REMOVE PHOTO FROM NAV************ -->
      <li style="float:right"><a href="/" ng-click="$ctrl.reload()"><i class="material-icons">exit_to_app</i></a></li>
      <p class="title">Famstagram</p>
    </ul>
  
  
  </div>
  <div class="inputDiv">
      <p class="inputDiv_title">CREATE OR JOIN YOUR FAMILY</p>
  <!-- create a family -->
    <input type="text" placeholder="Create Family.." ng-model="createfamily"> 
    <button href="/#!/chat" class="homeBtn"><a ng-click="$ctrl.handleCreateFamClick(createfamily)" href="/#!/chat"><i class="material-icons">group_add</i></a></button>
  
    <!-- join a family -->
    <input type="text" placeholder="Enter Family Code.." ng-model="code"> 
    <button href="/#!/chat" class="homeBtn"><a ng-click="$ctrl.handleJoinFamClick(code)" href="/#!/chat"><i class="material-icons">send</i></a></button>

  </div>
