
<div class="nav">

  <ul>
    <!-- <a href="/user">Join/Create Family</a> -->
    <li><a href="/user"><i class="material-icons">people</i></a></li>
    <li><a href="/#!/chat"><i class="material-icons">chat</i></a></li>
    <li><a href="/#!/photos"><i class="material-icons">photo_library</i></a></li>
    <li><a class="active2" href="/#!/sharecode"><i class="material-icons">share</i></a></li>
    <li style="float:right"><a href="/" ng-click="$ctrl.reload()"><i class="material-icons">exit_to_app</i></a></li>
        <p class="title">Share Family Code</p>
  </ul>


</div>

<p>Sumbit a Family member's email and we'll send them the code!</p>
<input class="cstm_inputS" type="text" placeholder="Famstagram@familymember.com.." ng-model="email">
<button class="cstm_BtnS" ng-click="$ctrl.sendEmail(email)">Send <i class="material-icons">send</i></button>
<p class="share_p">*Be sure to check your spam folder*</p>

